/* 1. Importar la fuente */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@400;500;600;700&display=swap');

/* 2. Luego Tailwind */
@import "tailwindcss";

/* 3. Variables de tema y estilos */
:root {
  --font-main: "Stack Sans Notch", sans-serif;
}

body {
  font-family: var(--font-main);
}
